<form id="formElement">
  <label id="lblTitle" for="tfTitle">Title:</label>
  <input id="tfTitle" type="text" />
  <label for="txtContent" id="lblContent">Content:</label>
  <textarea name="txtContent" id="txtContent" cols="30" rows="10"></textarea>
  <button id="btnSubmit">Submit</button>   
</form>